<div class="card">
  <div class="card-body">
    <h2 class="card-title">{{ MisMedicamentosInfo.nombre }}</h2>
    <p>{{ MisMedicamentosInfo.laboratorio }}</p>
    <p>Número de registro: {{ MisMedicamentosInfo.num_registro}}</p>
    <p>{{ MisMedicamentosInfo.forma_simple}}</p>
    <p>{{ MisMedicamentosInfo.via_administracion}}</p>
    <p><a href="{{ MisMedicamentosInfo.prospecto }}" title="Prospecto de {{ MisMedicamentosInfo.nombre }}" target="_blank">Ver prospecto</a></p>


    <!-- <button type="button" class="btn btn-primary" (click)="addMedicamentoSeleccionado()">Añadir a mis medicamentos</button> -->
  </div>
</div>

