
<h1>Localice el medicamento</h1>
<form class="d-flex" (ngSubmit)="mostrarMedObtenidos()">
  <input
  id="nombreMed"
  type="text"
  [(ngModel)]="nombreMed"
  (ngModelChange)="cambiarMedObtenidos()"
  name="nombreMed"
  placeholder="Nombre del medicamento"
  [ngModelOptions]=" { standalone:true }">
  <button type="submit" [disabled]="!nombreMed.trim()">Buscar</button>
  <div *ngIf="!nombreMed.trim()">
    <small>Por favor, introduce un término de búsqueda.</small>
  </div>
</form>
  <p>Buscando…: {{ nombreMed }} </p>


@if (medObtenidosResults$ | async; as resultObject) {
  <ul class="row">
    @for(item of resultObject.resultados; track item.nombre) {
      <li class="" >
        <app-medicamento-detail [MedObtenidoInfo]="item" />
      </li>
    }
  </ul>
}

@if(errorMessage){
  <app-error-message [errorMessage]="errorMessage" />
}



