
<ul>
    <li>
        <a [routerLink]="['/home']" routerLinkActive="router-link-active">
          Home</a>
    </li>
    <li>
        <a [routerLink]="['/obten_medicacion']" routerLinkActive="router-link-active">
          Obtener medicación</a>
    </li>
    <li>
      <a [routerLink]="['/mis_medicamentos']" routerLinkActive="router-link-active">
        Mis medicamentos</a>
    </li>
    <li>
      <a [routerLink]="['/estadisticas']" routerLinkActive="router-link-active">
        Estadísticas</a>
    </li>
</ul>
