/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/bootstrap";

html, body {
  height: 100%;
}

body {
  background-image: url(./assets/img/medicament-que-es.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-attachment: fixed;
  padding: 2em;
}
